body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: "Lucida Console", Monaco, monospace;
    color: white;
    letter-spacing: 1px;
    align-items: center;
    background-color: rgb(15, 12, 49);
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/cool\ space\ background.jpg) no-repeat;
    background-size: cover;
}

html {
    min-height: 100%;
}

a{
    text-decoration: none;
}

header{
    width: 99%;
    font-size: 2rem;
}

.starting-box{
    display:flex;
    padding: 5rem 0 5rem 0;
    font-size: 6rem;
}

.questions-box{
    position: relative;
    bottom: -15rem;
    font-size: 3rem;
    width: 65%;
    text-align: center;
}


.answer-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 55%;
    margin: 2rem;
    font-size: 2.5rem;
}

.answer-boxes button{
    display:flex;
    position: relative;
    bottom: -15rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    height: 4rem;
}

.btn{
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;
    border: 2px solid rgb(216, 2, 134);
    background: none;
    border-radius: 0px;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .btn:focus {
      box-shadow: none;

  }

.btn:hover{
    box-shadow: inset 0 0 50px 25px #D80286;
}

.btn-default{
    position: relative;
    top: -3.75rem;
    right: -14rem;
}

.timer{
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
    bottom: -15rem;
}

.high-score-header{
    text-align: center;
}

.point-box{
    position: absolute;
    padding: 1rem;
    font-size: 3rem;
}

.name-submission{
    position: absolute;
    bottom: 20rem;
    left: 50rem;
}

.table{
    text-align: center;
    color: white;
    width: 25%;
    font-size: 3rem;
}

#restart{
    position: relative;
    bottom: -20rem;
    height: 3rem;
    width: 10rem;
 
}

#highScores{
    height: 5rem;
    font-size: 1.5rem;
}


@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
        align-items: center;
        justify-items: center;
        max-width: 100vw;
    }
    .starting-box,
    .questions-box,
    .timer{
        font-size: 1.5rem;
        text-align: center;
    }

    .timer{
        position: relative;
        bottom: -5rem;
        font-size: 1.2rem;
    }

    .questions-box{
        position: relative;
        bottom: -5rem;
    }

    .answer-boxes{
        position: relative;
        bottom: 10rem;
    }

    .answer-boxes button{
        width: 100%;
        height: 4rem;
        font-size: 1rem;
    }

    .point-box{
        font-size: 1rem;
    }

    #restart{
        position: relative;
        bottom: -5rem;
    }
    .name-submission{
        bottom: 7rem;
        left: unset;

    }
    .btn-default{
        position: unset;   
    }
    .btn {
    background: #D80286;
    color: white;
    }
}